doctype html
html(lang="en")
	head
		title detail
	body
		#content
			h2=content.contenttitle
			p 
			=content.content
			a(href="#{content.url}")=content.url
		h1(style="border-bottom:solid")
		#relate
			label Related News
			each val in relate
				#div
				a(href="/detail?id="+val._id+"&index=#{val._index}"+"&type=#{val._type}&targetUrl=#{val._source.url}")
						span=val._source.contenttitle
